<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">Un elemento de grupo de lista predeterminado</a>

  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Un elemento primary de grupo de lista</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Un elemento secondary de grupo de lista</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">Un elemento success de grupo de lista</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Un elemento danger de grupo de lista</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Un elemento warning de grupo de lista</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-info">Un elemento info de grupo de lista</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">Un elemento light de grupo de lista</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Un elemento dark de grupo de lista</a>
</div>

<audio controls>
  <source src="../assets/sonidos/note2.wav">
</audio> 